openapi: 3.2.0
info:
  title: Fast Inventory API
  version: 0.1.0
tags:
- name: Inventory
paths:
  /inventory/homenet/aggregation:
    get:
      summary: Run Inventory Aggregator
      operationId: run_inventory_aggregator_inventory_homenet_aggregation_get
      parameters:
      - required: true
        schema:
          type: string
          title: Api Token
        name: api_token
        in: query
      - required: false
        schema:
          type: boolean
          title: Force Run
          default: false
        name: force_run
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Inventory
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
servers:
- url: https://api.agoradata.com
  description: Base URL reconciled from apis.yml
