openapi: 3.2.0
info:
  title: Fast Hooks API
  version: 0.1.0
tags:
- name: Hooks
paths:
  /hooks/files/idms:
    post:
      summary: Idms File Endpoint
      operationId: idms_file_endpoint_hooks_files_idms_post
      parameters:
      - required: false
        schema:
          type: string
          title: X-Agora-Files-Key
        name: x-agora-files-key
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilesWebHookFormat'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Hooks
  /hooks/files/autoMaster:
    post:
      summary: Auto Master File Endpoint
      operationId: auto_master_file_endpoint_hooks_files_autoMaster_post
      parameters:
      - required: false
        schema:
          type: string
          title: X-Agora-Files-Key
        name: x-agora-files-key
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilesWebHookFormat'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Hooks
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    FilesWebHookFormat:
      properties:
        action:
          type: string
          title: Action
        path:
          type: string
          title: Path
        at:
          type: string
          title: At
        destination:
          type: string
          title: Destination
      type: object
      required:
      - action
      - path
      - at
      title: FilesWebHookFormat
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
servers:
- url: https://api.agoradata.com
  description: Base URL reconciled from apis.yml
